body{
 
    background-color: rgb(0, 0, 9);
    
    margin:0px;
    
}
.carousel{
    
    max-width:100vw;
    height:100vh;
    position:relative;
   
}
form > h1{
    color:#ffd700;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top:70px;
    margin-bottom:1.5rem;
}
.loginForm{
   
    width:40%;
    height:70%;
    min-height:600px;
    background: rgba(0, 0, 17, 0.907);
    border-radius:10px;

}
.w-100{
    max-height:100vh;
    max-width:100vw;
}
#login{
    display:block;
    /* position:absolute; */
    text-align: center;
    align-items: center;
    padding:5px;
    width:110px;
    height:45px;
    background-color: #ffd700;
    color:black;
    font-size: 22px;
    font-weight: 600;
    border-radius:8px;
    right:25px;
    top:25px;
    z-index:999999999;
    
}
.divnone{
    z-index:99999999999999999999999;
    position: absolute;
    width:100vw;
    height:100vh;
    display:none;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.645);
    
    
}
.loginFrame{
    animation-duration: 1s;
    animation-name: newLogin;
}
@keyframes newLogin{
    
    /* 0%{
        width:42vw;
        height: 62vh;
    }
    
    
    100%{
        width:43vw;
        height: 62vh;
    } */
    
}
.entrar{
    font-size: 2.4rem;
    color:aliceblue;
    padding-top:3rem;
    padding-left:5rem;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2em;
    height:10vh;
    border-bottom:1px solid #ffd90071;
}

input{
    width:90%;
    height:40px; 
    border-radius:none;
    font-size:1.4em;
    padding-left:20px;
    border:none;
    background-color: none;
} 
input:focus{
    width:90%;
    height:40px; 
    border:none;
    background-color: none;
    font-size:1.4em;
    padding-left:20px;
    outline: 0;
    
}
main{
    height: 11vh;
    
}

#nav{
    width:12vw;
    margin-left:0px;
    height:100vh;
    background-color: rgba(0, 0, 10, 0.514);
    
}
.inputPesquisa{
    background-color:#070707f3 ;
    border-right:1px solid rgba(255, 255, 255, 0.064);
    font-size:1rem;
    color:rgba(255, 255, 255, 0.064);
    margin-left:3px;

}
#pesquisa{
    width:35%;
    height:40px;
    flex-direction: row;
    justify-content: space-between;
    margin-top:1.4em;
    margin-right:5%;
    gap:1em;
    border-radius:6px;
    border:1px solid rgba(255, 255, 255, 0.064);
    background-color:#070707f3;
}
.section1, .section2{
    max-width:100vw;
    min-height:45vh;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-bottom:30px;
    



}
.front{
    width:100%;
    height:70%;
}
.cartazFront{
    height:45vh;
    width:12%;
    margin-bottom:25px;
    background-color: #060606c9;
}
.year, .describle{
    height:10px;
    font-size:9px;
    color:bisque;
}
#title{
    height:100%;
}
.bi{
    color:#ffd700;
    font-size: 1.3rem;
}

.titleDestaque{
    padding-top:25px;
    font-size:25px;
    color:beige;

}
.titleArticle{
    padding-top:15px;
    padding-left:20px;
    padding-bottom:15px;
    font-size:25px;
    color:beige;
    margin-bottom:15px;
    border-bottom:1px solid #ffd90044;

}
ul{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    
}
li{
    list-style-type: none;
}
.titleAll{
    padding-top:10px;
    padding-left:5px;
    font-size: 1.2rem;
    color:rgba(245, 245, 220, 0.878);
    margin-bottom:2px;
}
.cartazFront > p , h5 {
    color:rgba(211, 207, 207, 0.713);

}
iframe{
    margin-top:100px;
    margin-bottom:100px;
}

form > label{
    width:100%;
    font-size: 18px;
    color:rgba(255, 255, 255, 0.76);
    font-weight: 600;
    margin-bottom:2px;
}
form > input{
    width:100%;
    border-radius:6px; 
    border:1px solid #ffd700!important;
    height:9%;
    font-size:1.2rem;
    color: #C0C0C0;
    background:rgb(8, 8, 8)!important;
}
form > input:focus{
    width:100%;
    border-radius:6px; 
    height:50px;
    background-color: #C0C0C0;
    border:4px solid #ffd700;
}
.btnLogin{
    width: 99% !important;
    height:8%!important;
    background:#ffd700 ;
    font-size:17px;
    font-weight: 700;
    padding-left:25px;
    padding-right:25px;
    border:none;
    border-radius:10px;
    

}
.recuperar{
    margin-top:10%;
    font-size:1rem;
    color:#ffd700;

}
.elLogin{
    height:40px;
    width:100%;
    margin-top:15%;
    display:flex;
    justify-content: center;
    gap:8px;

}
.date{
    font-size:1rem;
    padding-left:5px;
}
.bi-twitter{
    background:#1DA1F2; 
    font-size:20px;
    width:32px;
    height:32px;
    padding-left:7px;
    border-radius:100%;
    color:white;
}
.bi-google{
    background:#EA4335; 
    font-size:20px;
    width:32px;
    height:32px;
    padding-left:6px;
    padding-top:1px;
    border-radius:100%;
    color:white;
}

footer{
    height:8rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:#c0c0c0ba;
    background-color:rgba(1, 1, 3, 0.908) ;

}
footer li >  .bi {
    color:#c0c0c0ba;
    font-size:20px;
}
.ulFooter{
    display:flex;
    justify-content: space-between;
    width:20%;
}
.ulFooter2{
    display:flex;
    justify-content: space-between;
    width:15%;
}
.ulFooter > li{
    font-size:15px;
}
.logo{
    font-size:35px;
    font-family: 'amatic SC', cursive;
    font-weight: 800;
}
.divFooter > p{
    margin:0;
    text-align: center;
    
}
.bi-film{
    font-size: 38px;
    margin-right:8px;
}
.bi-r-circle{
    color:#c0c0c0ba;
    font-size: 16px;
}
.bi-search{
    float:right;
    margin-top:3px;
    margin-right:11px;
    font-size:22px;
    font-weight:800;
    color:rgba(255, 255, 255, 0.303);
}
.headerForm{
    position:absolute;
    z-index: 999;
    display:flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding-left:100px;
    padding-right:25px;
    padding-top:20px; 
}
.logoHeader{
    color:white;
    font-weight: 800;
}
form{
    width:80%;
    height:95%;
    margin:auto;
    display:block;
}
@media only screen and (max-device-width:900px){
    .carousel{
        width:100vw;
        height:35vh;
        margin:0 auto;
    }
    .carousel-item{
        width:100%;
        height:100%;
    }
    .carousel-item > img{
        width:100%;
        height:35vh;
    }
    .logo{
        font-size:1.5em;
    }
    .logoHeader{
        margin:8px 0px 0px 8px;
    }
    .logoHeader > i{
        font-size:25px;
    }
    .logoHeader > span{
        font-size:25px;
    }
    .bi-film{
        font-size:1.8em
    }
    .headerForm{
        padding:0px;
        display:flex;
        width:95%;
        justify-content: space-between;
        margin: 0px 15px 0px 10px 
        
    }
    #login{
        width:4.3rem;
        font-size:0.8em;
        height:2rem;
        padding-top:6px;
        margin:8px 8px 0px 0px;
        background-color: #ffd900;

    }
    header{
        margin:20px 0px;
    }
    header > ul{
        padding:0px;
    }
    .titleDestaque{
        font-size:1.1rem;
        padding-left:5px;
        margin-top:40px;
    }
    #pesquisa{
        position:absolute;
        height:32px;
        width:90%;
        margin-left:15px;
    }
    #pesquisa > input{
        padding-left:9px;
    }
    #pesquisa > span{
        position:absolute;
        top:0px;
        font-size:17px;
        padding-left:7px;
    }
    .cartazFront{
        height: 23vh!important;
        width: 25%;
        margin-bottom: 35px;
        background-color: #060606c9;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .titleAll{
        padding-top: 7px;
        padding-left: 5px;
        font-size: 0.8rem;
        margin-bottom: 2px;
    }
    .date{
        font-size: 0.7rem;
    }
    .section1, .section2{
        gap:1rem;
    }
    .titleArticle{
        font-size:1.1rem;
    }
    footer{
        height:5rem
    }
    footer > .logo{
        font-size:20px;
    }
    footer > .bi-film{
        font-size:18px;
    }
    .ulFooter{
        display:none;
    }
    .ulFooter2{
        padding:0px;
        width:30vw;
        margin-bottom:0px;
    }
    .ulFooter2 > li{
        font-size:15px;
    }
    .bi-r-circle{
        font-size:10px;
    }
    .divnone{
        height:100vh;
        margin:0px;
        width:100vw;
        background-color:rgba(0, 0, 0, 0.645);
        overflow:hidden;
    }
    .loginForm{
        width: 80%;
    height: 70%;
    min-height: 600px;
    background: rgba(0, 0, 17, 0.966);
    border-radius: 10px;
    }
    form > h1{
        font-size:1.8rem;
        padding-top:60px;
        text-align:center;
        margin-bottom:3rem;
    }
}